/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

@import url("../../../flatdesign/library/css/style.css");

.lang-link {
    z-index: 10;
	position: absolute;
	right: 0;
	height: 35px;
	width: 35px;
	background-image: url(../images/lang-switcher-inactive.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.lang-link:hover {
    height: 50px;
    width: 50px;
    background-image: url(../images/lang-switcher.png);
}

.header #inner-header .heading .logo {
    background-image: url(../images/ieee-logo.svg);
}

.sidebar input {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	color: #fff;
	width: 100%;
}

/*
 * List Category Post: custom pagination style
 */
.lcp_paginator li {
	border: none !important;
}

/*
 * Custom styling for events manager widget
 */
 .widget.widget_em_widget ul li {
    clear: right;
    margin-bottom:0.3em;
}

.widget.widget_em_widget ul li ul {
    margin-top: 0;
    display: inline-table;
    font-size: .95em;
    float: right;
}

.widget.widget_em_widget ul li a {
    text-decoration: none;
    font-weight: bold;
}
